# default ignore via .Rproj
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# .md is displayed on github
README.html

# ignore tmp db storage
db/

# published .dcf records
rsconnect/

# vscode stuff
.vscode/