
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22vh;
}

.centertime {
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.centered-no-vh {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-vh {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22vh;
}
